@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.main {
  height: 55vh;
  background: rgb(34, 39, 85);
  box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
  width: 60%;
  margin: 0 auto;
}
